<!DOCTYPE html>
<html>
<head>
    <title>Step 1: Enter City</title>
</head>
<body>
    <h1>Step 1: Enter City</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Next</button>
    </form>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const startDateInput = document.getElementById('start-date');
        const endDateInput = document.getElementById('end-date');
        const form = document.getElementById('my-form');
        
        startDateInput.addEventListener('input', function () {
            endDateInput.min = startDateInput.value;
        });
        
    });
</script>

</html>
