{% extends '_base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="text-sm flex justify-center items-center h-screen bg-gray-100">
    <div class="w-1/3 bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-2xl font-semibold mb-4 text-center">Plan your journey</h2>

      <form method="POST">
          {% csrf_token %}
          <div class="mb-4">
            {% render_field form.region_name class+="mt-1 px-3 py-2 block w-full border rounded-md focus:ring focus:ring-teal-600 focus:outline-none" placeholder="City Name" %}
          </div>

          <div class="mb-4">
            {% render_field form.start_date class+="mt-1 px-3 py-2 block w-full border rounded-md focus:ring focus:ring-teal-600 focus:outline-none" %}
          </div>

          <div class="mb-4">
            {% render_field form.end_date class+="mt-1 px-3 py-2 block w-full border rounded-md focus:ring focus:ring-teal-600 focus:outline-none" %}
          </div>

          <div class="flex w-full md:block md:w-auto justify-center">
            <ul class="font-medium flex justify-center flex-row mt-6 bg-gray-50 space-x-4">
                <li>
                    <button class="py-2 px-4 border-4 font-semibold border-teal-500 rounded-xl text-gray-500 hover:bg-teal-700 hover:text-white hover:border-teal-700 duration-300">
                        <a href={% url 'itinerary_list' %}> Go Back </a>
                    </button>
                </li>

                <li>
                    <button type="submit" class="py-2 px-4 border-4 font-semibold border-teal-500 rounded-xl text-gray-500 hover:bg-teal-700 hover:text-white hover:border-teal-700 duration-300">Next</button>
                </li>
            </ul>
          </div>
          
      </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const startDateInput = document.getElementById('start-date');
        const endDateInput = document.getElementById('end-date');
        const form = document.getElementById('my-form');
        
        startDateInput.addEventListener('input', function () {
            endDateInput.min = startDateInput.value;
        });
        
    });
</script>

{% endblock content %}
