{% extends '_base.html' %}

{% block content %}

<h1>{{ itinerary.name }}</h1>
<h3>Destination: {{ itinerary.destination }}</h3>

{% for entry in entries %}
    <p> Date: {{ entry.date }} </p>
    <p> Temp: {{ entry.avgtemp }} </p>
    <p> Humdity: {{ entry.avg_humidity }} </p>
    <p> Rain: {{ entry.rain_probability }} </p>
    <p> Snow: {{ entry.snow_probability }} </p>
    <p> Activity: {{ entry.activity }} </p>
{% endfor %}

{% for food in foods %}
    <p> Name: {{ food.name }}</p>
    <p> Description: {{ food.description }}</p>
{% endfor %}

<a href="{% url 'update_itinerary' itinerary.id %}">Update</a>

<form method="post" action="{% url 'delete_itinerary' itinerary.id %}">
    {% csrf_token %}
    <button type="button" id="delete-button">Delete</button>
</form>



<script>
document.getElementById('delete-button').addEventListener('click', function() {
    if (confirm("Are you sure you want to delete '{{ item.name }}'?")) {
        document.querySelector('form').submit();
    }
});
</script>

{% endblock content %}